@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

@import url(./reset.css);

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-white: #fff;
}

body {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-light-gray);
  color: var(--color-grayish-blue);
}

.container {
  padding: 8.5rem 3.2rem 1.6rem;
}

header {
  text-align: center;
}

.main-header {
  color: var(--color-dark-blue);
  font-size: clamp(2.4rem, 5vw, 3.6rem);
  font-weight: 200;
  margin-bottom: 1.6rem;
}

.main-header--bold {
  font-weight: 600;
  display: block;
}

.tagline {
  margin-bottom: 7.6rem;
  line-height: 2.5rem;
}

.card {
  background-color: var(--color-white);
  padding: 2.7rem 2.8rem 2.8rem 2.9rem;
  position: relative;
  border-radius: 0 0 8px 8px;
  margin-bottom: 2.5rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.card::before {
  content: '';
  width: 100%;
  height: 50%;
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: -3.55px;
  left: 0;
  z-index: -1;
}

.card-supervisor::before {
  background-color: var(--color-cyan);
}

.card-team-builder::before {
  background-color: var(--color-red);
}

.card-karma::before {
  background-color: var(--color-orange);
}

.card-calculator::before {
  background-color: var(--color-blue);
}

.card__header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-dark-blue);
}

.card__body {
  margin: 0.1rem 0 3.3rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

.card__image {
  margin-left: auto;
  width: 5.7rem;
  height: 5.7rem;
}

footer {
  margin-top: 6.4rem;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
  transition: color 0.2s, text-decoration 0.2s;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1174px) {
  .container {
    padding-top: 8rem;
    padding-bottom: 2rem;
  }

  header {
    max-width: 54rem;
    margin: 0 auto;
  }

  .main-header {
    padding: 0 4.8rem;
  }

  .cards {
    max-width: 111rem;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      '.      top      .'
      'lft    top    rgt'
      'lft    btm   rgt'
      '.      btm      .';
  }

  .card {
    padding: 3.2rem;
  }

  .card-supervisor {
    grid-area: lft;
  }

  .card-team-builder {
    grid-area: top;
  }

  .card-calculator {
    grid-area: rgt;
  }

  .card-karma {
    grid-area: btm;
  }

  .card__body {
    margin: 0.6rem 0 4rem;
  }

  .card__image {
    width: 6.4rem;
    height: 6.4rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .card-link:hover {
    background-color: transparent;
    color: var(--color-very-light-gray);
  }

  .attribution a:hover {
    color: hsla(228, 45%, 44%, 0.7);
    text-decoration: none;
  }
}
